#define QWERTY  0
#define GALLIUM 1
#define GAME    2
#define NUM     3
#define MEDIA   4
#define MOUSE   5
#define SCROLL  6
#define BT      7
#define SNIPE   8

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <200>;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp ESC>;
        };

        combo_quote {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp SQT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ---------- Default Layer ----------
        default_layer {
            label = "QWERTY";
            bindings = <
                &kp Q                 &kp W                 &kp E                 &kp R                &kp T             &kp Y             &kp U             &kp I             &kp O             &kp P
                &mt LSHFT A           &mt LCTRL S           &mt LALT D            &mt LGUI F           &kp G             &kp H             &mt RGUI J        &mt RALT K        &mt RCTRL L       &mt RSHFT SEMI
                &kp Z                 &kp X                 &kp C                 &kp V                &kp B             &kp N             &kp M             &kp COMMA         &kp DOT           &kp SLASH
                &tog GAME             &tog GALLIUM          &trans                &lt MEDIA TAB        &lt NUM SPACE     &kp ENTER         &mo BT            &kp BSPC                            &mo MOUSE
            >;
        };

        // ---------- Gallium Layer ----------
        gallium_layer {
            label = "GALLIUM";
            bindings = <
                &kp B                 &kp L                 &kp D                 &kp C                &kp V             &kp J             &kp Y             &kp O             &kp U             &kp COMMA
                &mt LSHFT N           &mt LCTRL R           &mt LALT T            &mt LGUI S           &kp G             &kp P             &mt RGUI H        &mt RALT A        &mt RCTRL E       &mt RSHFT I
                &kp X                 &kp Q                 &kp M                 &kp W                &kp Z             &kp K             &kp F             &kp SQT           &kp SEMI          &kp DOT
                &trans                &trans                &trans                &trans               &trans            &trans            &trans            &trans                              &trans
            >;
        };

        // ---------- Game Layer ----------
        game_layer {
            label = "GAME";
            bindings = <
                &kp Q         &kp E         &kp W         &kp R         &kp TAB       &kp Y         &kp U         &kp I         &kp O         &kp P
                &kp LSHFT     &kp A         &kp S         &kp D         &kp F         &kp H         &kp J         &kp K         &kp L         &kp SEMI
                &kp Z         &kp B         &kp C         &kp G         &kp V         &kp N         &mkp LCLK     &mkp RCLK     &mkp MCLK     &kp SLASH
                &tog GAME     &kp ESC       &kp LCTRL     &kp LALT      &kp SPACE     &kp ENTER     &mo BT        &kp BSPC                    &mo MOUSE
            >;
        };

        // ---------- Number Layer ----------
        number_layer {
            label = "NUM";
            bindings = <
                &kp ESC               &trans                &trans               &kp GRAVE            &kp MINUS         &trans            &trans            &trans            &trans            &kp BSPC
                &mt LSHFT N1          &mt LCTRL N2          &mt LALT N3          &mt LGUI N4          &kp N5            &kp N6            &mt RGUI N7       &mt RALT N8       &mt RCTRL N9      &mt RSHFT N0
                &trans                &trans                &trans               &kp BSLH             &kp EQUAL         &kp LBKT          &kp RBKT          &trans            &trans            &trans
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans                              &trans
            >;
        };

        // ---------- Media Layer ----------
        media_layer {
            label = "MEDIA";
            bindings = <
                &kp ESC               &kp C_NEXT            &trans               &trans               &trans            &trans            &kp C_BRI_UP      &trans            &trans            &kp BSPC
                &mt LSHFT C_VOL_DN    &mt LCTRL C_VOL_UP    &mt LALT C_BRI_DN    &mt LGUI C_BRI_UP    &trans            &kp LEFT          &kp DOWN          &kp UP            &kp RIGHT         &trans
                &trans                &kp C_PLAY_PAUSE      &kp C_MUTE           &trans               &kp C_PREV        &trans            &trans            &trans            &trans            &trans
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans                              &trans
            >;
        };

        // ---------- Mouse Layer ----------
        mouse_layer {
            label = "MOUSE";
            bindings = <
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans            &trans            &trans
                &mkp MB4              &mkp MB5              &mkp RCLK            &mkp LCLK            &mkp MCLK         &mkp MCLK         &mkp LCLK         &mkp RCLK         &mkp MB4          &mkp MB5
                &trans                &trans                &trans               &trans               &mo SCROLL        &trans            &trans            &mo SCROLL        &mo SNIPE         &trans
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans                              &trans
            >;
        };

        // ---------- Scroll Layer ----------
        scroll_layer {
            label = "SCROLL";
            bindings = <
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans            &trans            &trans
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans            &trans            &trans
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans            &trans            &trans
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans                              &trans
            >;
        };

        // ---------- Bluetooth Layer ----------
        bt_layer {
            label = "BT";
            bindings = <
                &trans                &trans                &trans                &trans                &trans            &trans            &trans            &trans            &trans            &trans
                &bt BT_SEL 0          &bt BT_SEL 1          &bt BT_SEL 2          &bt BT_SEL 3          &bt BT_SEL 4      &trans            &trans            &trans            &trans            &trans
                &trans                &bt BT_CLR            &trans                &trans                &trans            &trans            &trans            &trans            &trans            &trans
                &trans                &trans                &trans                &trans                &trans            &trans            &trans            &trans                              &trans
            >;
        };
       
        // ---------- SNIPE Layer ----------
        snipe_layer {
            label = "SNIPE";
            bindings = <
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans            &trans            &trans
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans            &trans            &trans
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans            &trans            &trans
                &trans                &trans                &trans               &trans               &trans            &trans            &trans            &trans                              &trans
            >;
        };
    };
};
